@import "tailwindcss";

/* Custom Teal Color */
@layer theme {
  --color-teal: #3A8B89;
}

/* Import Nunito Variable Font */
@font-face {
  font-family: 'Nunito';
  src: url('/Nunito,Raleway/Nunito/Nunito-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/Nunito,Raleway/Nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
}

/* Import Raleway Variable Font */
@font-face {
  font-family: 'Raleway';
  src: url('/Nunito,Raleway/Raleway/Raleway-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Nunito,Raleway/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
}

/* Apply fonts to entire page */
* {
  font-family: 'Nunito', 'Raleway', sans-serif;
}

html, body, #app {
  font-family: 'Nunito', 'Raleway', sans-serif;
}

/* Use Raleway for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', 'Nunito', sans-serif;
  font-weight: 600;
}